.browseTheRange {
    --btr-subheader-color: hsl(0, 0%, 40%);

    height: clamp(450px, 55vw, 635px);
    display: flex;
    flex-direction: column;
}

.browseTheRange h3 {
    align-self: center;
}

.btrSubHeader {
    color: var(--btr-subheader-color);
    font-size: var(--font-size-h5);
    font-weight: var(--font-weight-regular);
    align-self: center;
}

.btrContentContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
}

.btrRoomContainer {
    justify-items: center;
}

.btrRoomContainer h4 {
    font-weight: var(--font-weight-semi-bold);
    margin-top: 30px;
}

.btrRoomImage {
    border-radius: 10px;
    width: clamp(200px, 28vw, 381px);
    height: clamp(250px, 35vw, 480px);
}


@media (min-width: 1240px) {
    
    .browseTheRange {
        height: clamp(635px, 50vw, 685px);
    }

}

@media (min-width: 1400px) {
    
    .browseTheRange {
        height: 685px; 
    }
}