.inspirations {
    --inspirations-bg-colour:  hsl(32, 57%, 97%);
    --inspirations-room-card-bg: hsla(0, 0%, 100%, 72%);
    --font-size-inner-peace: 28px;

    width: 100%;
    background-color: var(--inspirations-bg-colour);
}

.inspirationsContainer {
    height: 670px;
    display: flex;
    align-items: center;
}

.inspirationsHeaderContainer {
    height: 224px;
    display: flex;
    flex-direction: column;
}

.inspirationsHeaderContainer h2 {
    margin-bottom: 7px;
}

.inspirationsHeaderContainer h6 {
   color: var(--header-inline-colour);
}

.buttonExploreMore {
    background-color: var(--accent-gold);
    color: var(--bg);
    font-family: var(--font-main-poppins);
    font-weight: var(--font-weight-semi-bold);
    width: 176px;
    height: 48px;
    border: none;
    align-self: flex-start;
    margin-top: auto;
}

.inspirationsRoomCardContainer, .inspirationsCarousel {
    height: 582px;
}

.inspirationsRoomCardContainer {
    margin-left: 42px;
    position: relative;
}

.inspirationsRoomCardContentContainer {
    position: absolute;
    display: flex;
    align-items: flex-end;
    bottom: 4%;
    left: 6%;
}

.inspirationsRoomCardBox {
    height: 130px;
    width: 217px;
    background-color: var(--inspirations-room-card-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
}

.inspirationsImg {
    height: 582px;
    width: 404px;
}

.inspirationsRoomCardLabel {
    display: flex;
}

.inspirationsRoomCardLabel h6 {
    color:  var(--header-inline-colour);
}

.inspirationsLongEmDash {
  height: 1px;
  width: 27px; 
  background-color: var(--header-inline-colour);
  align-self: center;
  margin: 0 8px;
}

.inspirationsInnerPeaceText {
    font-size: var(--font-size-inner-peace);
    font-weight: var(--font-weight-semi-bold);
    color: var(--card-text-colour);
    margin-top: 8px;
}

.inspirationsButtonContainer {
    height: 48px;
}

.buttonRightArrow {
    width: 48px;
    height: 48px;
    background-color: var(--accent-gold);
    color: var(--bg);
    border: none;
    cursor: pointer;
}

.reactIcon {
    width: 24px;
    height: 24px;
}

.inspirationsCarousel {

}

@media (min-width: 1024px) {

    .inspirationsHeaderContainer {
        width: 422px;
    }

}
