.ourProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ourProducts h2 {
    color: var(--card-text-colour);
}

.ourProducts h2, button {
    align-self: center;
}

.ourProductsCardContainer {
    margin: 32px 0;
}

@media (min-width: 1024px) {

    .ourProductsCardContainer {
        grid-template-columns: var(--grid-9-col);
    }
}

@media (min-width: 1240px) {
    
    .ourProducts {
        height: 1084px;
    }

    .ourProductsCardContainer {
        grid-template-columns: var(--grid-12-col);
    }

}

@media (min-width: 1440px) {
    
    .ourProducts {
        align-items: normal;
    }

}