.ourProducts {
    height: 1084px;
    display: flex;
    flex-direction: column;
}

.ourProducts h2 {
    color: var(--card-text-colour);
}

.ourProducts h2, button {
    align-self: center;
}

.ourProductsCardContainer {
    margin: 32px 0;
}