.typography-heading1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-h1);
  letter-spacing: var(--letter-spacing-h1);
}

.typography-heading4 {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-bold);
}

.typography-heading6 {
  font-size: var(--font-size-h6);
}

.typography-overline {
  font-family: var(--font-main-poppins);
  font-weight: var(--font-weight-semi-bold);
  letter-spacing: var(--letter-spacing-overline);
}

.typography-subtitle1 {
  font-family: var(--font-main-poppins);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-subtitle);
  line-height: var(--line-height-subtitle);
}

.typography-brand {
  font-family: var(--font-furniro);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-furniro);
}

.typography-navlink {
  font-weight: var(--font-weight-medium);
}