.footer {
    --inputAndSubHeight: 24px;
    justify-items: center;
    align-content: center;
    width: 100%;
    border-top: 1px solid var(--layout-subtext-colour);
}

.footerNav {
    grid-column: 1 / -1;
    margin-bottom: 56px;
    /* height: 312px; */
}

/* .footerContainer {
    height: 414px;
} */

.footerFurniro {
  padding-bottom: 50px;
}

.footerFurniroInfo p {
    margin-top: 50px;
    color: var(--layout-subtext-colour);
}

.footerHeading {
    color: var(--layout-subtext-colour);
    margin-bottom: 55px;
}

.footerLinks ul, .footerHelp ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 45px;
}

.footerLinks a, .footerHelp a {
    text-decoration: none;
    color: inherit;
}

.inputEmail {
    height: calc(var(--inputAndSubHeight) + 1px); /* To match Subscribe underline at 100% zoom */
    width: 200px;
    border-bottom: 1px solid var(--layout-text-colour);
}
    
.inputEmail input {
    border:none;
    outline: none;
    width: 200px;
    font-family: var(--system-ui-font);
}

input::placeholder {
    color: var(--layout-subtext-colour);
}

input::placeholder, .subButton {
    font-size: 14px;
    font-family: var(--font-main-poppins);
}

.subButton {
    border: none;
    background: transparent;
    height: var(--inputAndSubHeight);
    border-bottom: 1px solid;
    cursor: pointer;
    font-weight: var( --font-weight-medium);
}

.footerCopyright {
    height: 59px;
    border-top: 1px solid var(--layout-subtext-colour);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media (min-width: 1024px) {

    .footer {
        padding: 4% 0%;
    }

    .footerContainer {
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }

    .footerNav {
         grid-template-columns: repeat(12, minmax(0, 1fr));
    }

    .footerFurniroInfo {
        grid-column: 2 / span 4;
    }
    
    .footerLinks {
        grid-column: span 3;
    }
        
    .footerHelp {
        grid-column: span 3;
    }
    
    .footerNewsletter {
        grid-column: 6 / span 3;
    }

    .footerSubscribe {
        grid-column: span 3;
    }
    
    .footerCopyright {
        grid-column: 1 / 13;
    }

    .footerCopyright p {
        /* To match Furniro in 2nd column without moving the border (column width at res + gap) */
        padding-left: calc(63.8158px + 30px);
    }
}

@media (min-width: 1240px) {

    .footer {
        height: 505px;
        padding: 0%;
    }

    .footerFurniroInfo {
        grid-column: 1 / 5;
    }
    
    .footerLinks {
        grid-column: 5 / 7;
    }
        
    .footerHelp {
        grid-column: 7 / 9;
    }
    
    .footerNewsletter {
        grid-column: 9 / 11;
    }

    .footerSubscribe {
        grid-column: 11 / 12;
    }
    
    .footerCopyright {
        grid-column: 1 / 13;
    }

    .footerCopyright p {
        padding-left: 0px;
    }
}

@media (min-width: 1440px) {

    .footerContainer {
        grid-template-columns: repeat(12, minmax(75px, 1fr));
    }

    .footerFurniroInfo {
        grid-column: 1 / 4;
    }
    
    .footerLinks {
        grid-column: 5 / 7;
    }
        
    .footerHelp {
        grid-column: 7 / 9;
    }
    
    .footerNewsletter {
        grid-column: 9 / 11;
    }

    .footerSubscribe {
        grid-column: 11 / 12;
    }
    
    .footerCopyright {
        grid-column: 1 / -1;
    }
}