:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Fallback properties */
  --bg: hsl(0, 0%, 96%);
  --font-main-poppins: "Poppins", sans-serif;
  --layout-text-colour: hsl(0, 0%, 0%);

  /* Global design tokens */
  --main-gap: 56px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background: var(--bg);
  color: var(--layout-text-colour);
  font-family: var(--font-main-poppins);
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
}

main > section {
  width: 100%;
}