.grid {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
  }
}

@media (min-width: 1024px) {
    /* General layout */
    .grid {
        /* 75px is the design column width aka 1440px - margins - gaps */
        grid-template-columns: repeat(12, minmax(75px, 1fr));
        gap: 30px;
    }
}

@media (min-width: 1240px) {

    .contentContainer {
        max-width: 1240px;
        margin: 0 auto;
    }
}

@media (min-width: 1440px) {

    .wideContainer {
        max-width: 1440px;
        margin: 0 auto;
    }
}

