

@media (min-width: 1024px) {
    /* General layout */
    .grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 30px; 
        box-sizing: border-box;
    }

    .contentContainer {
        max-width: 1240px;
        margin: 0 auto;
    }

    .wideContainer {
        max-width: 1440px;
        margin: 0 auto;
    }
    }